MP_ACCESS_TOKEN=tu_access_token_de_mercadopago
MP_WEBHOOK_SECRET=tu_webhook_secret


FRONTEND_URL=http://localhost:5173
WEBHOOK_URL=https://sherita-unlegalised-insupportably.ngrok-free.dev


PORT=3000
PRICE=1000
